
		<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section" *ngIf="cartTotal > 0">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<h3 class="breadcrumb-header">Checkout</h3>
						<ul class="breadcrumb-tree">
							<li><a href="#">Home</a></li>
							<li class="active">Checkout</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

		<!-- SECTION -->
		<div class="section" *ngIf="cartTotal > 0">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<div class="col-md-7">
						<!-- Billing Details -->
						<div class="billing-details">
							<div class="section-title">
								<h3 class="title">Billing address</h3>
							</div>
							<div class="form-group">
								<input class="input" type="text" name="nom" placeholder="Nom" #nom="ngModel" [(ngModel)]="commande.nom">
							</div>
							<div class="form-group">
								<input class="input" type="text" name="prenom" placeholder="Prenom" #prenom="ngModel" [(ngModel)]="commande.prenom">
							</div>
							<div class="form-group">
								<input class="input" type="email" name="email" placeholder="Email" #email="ngModel" [(ngModel)]="commande.Email">
							</div>
							<div class="form-group">
								<input class="input" type="text" name="address" placeholder="Address" #address="ngModel" [(ngModel)]="commande.address">
							</div>
							<div class="form-group">
								<input class="input" type="text" name="Governorat" placeholder="Governorat" #governorat="ngModel" [(ngModel)]="commande.governorat">
							</div>
							<div class="form-group">
								<input class="input" type="text" name="ville" placeholder="Ville" #ville="ngModel" [(ngModel)]="commande.ville">
							</div>
							<div class="form-group">
								<input class="input" type="number" name="zip-code" placeholder="ZIP Code" #zipcode="ngModel" [(ngModel)]="commande.zipCode">
							</div>
							<div class="form-group">
								<input class="input" type="tel" name="tel" placeholder="Telephone" #telephone="ngModel" [(ngModel)]="commande.telephone">
							</div>
						</div>
						<!-- /Billing Details -->

						<!-- Order notes -->
						<div class="order-notes">
							<textarea class="input" placeholder="Remarques"></textarea>
						</div>
						<!-- /Order notes -->
					</div>

					<!-- Order Details -->
					<div class="col-md-5 order-details">
						<div class="section-title text-center">
							<h3 class="title">Your Order</h3>
						</div>
						<div class="order-summary">
							<div class="order-col">
								<div><strong>PRODUCT</strong></div>
								<div><strong>TOTAL</strong></div>
							</div>
							<div class="order-products">
								<div class="order-col" *ngFor="let c of cartData.data">
									<div>{{c.numInCart}} x {{c.product.name}}</div>
									<div>{{c.product.price * c.numInCart}} TND</div>
								</div>
							</div>
							<div class="order-col">
								<div>Livraison</div>
								<div><strong>7DT</strong></div>
							</div>
							<div class="order-col">
								<div>TVA (19%)</div>
								<div>{{cartTotal * 0.19}}TND</div>
							</div>
							<div class="order-col">
								<div><strong>TOTAL</strong></div>
								<div><strong class="order-total">{{cartTotal * 1.19}}TND</strong></div>
							</div>
						</div>
						<div class="payment-method">
							<div class="input-radio">
								<input type="radio" name="payment" id="payment-1">
								<label for="payment-1">
									<span></span>
									Paiement à la livraison
								</label>
								<div class="caption">
									<p>Payer juste quand le colis est livrer</p>
								</div>
							</div>
						</div>
						<!--<div class="input-checkbox">
							<input type="checkbox" id="terms">
							<label for="terms">
								<span></span>
								I've read and accept the <a href="#">terms & conditions</a>
							</label>
						</div>-->
						<a class="primary-btn order-submit" (click)="oncheckout()">Placer une commande</a>
					</div>
					<!-- /Order Details -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->
		<div *ngIf="cartData.total <= 0;" class="text-center my-5">
			<h4 class="fw-bold">Your Cart Is Empty</h4>
			<button class="btn btn-primary btn-lg mt-3" routerLink="/store">Aller à store</button>
		  </div>
		<!-- NEWSLETTER -->
		<div id="newsletter" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<div class="newsletter">
							<p>Sign Up for the <strong>NEWSLETTER</strong></p>
							<form>
								<input class="input" type="email" placeholder="Enter Your Email">
								<button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
							</form>
							<ul class="newsletter-follow">
								<li>
									<a href="#"><i class="fa fa-facebook"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-twitter"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-instagram"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-pinterest"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /NEWSLETTER -->