    <!--[if lte IE 9]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->

    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- /End Preloader -->
  
    <!-- Start Header Area -->
  <app-header></app-header>
    <!-- End Header Area -->
      <!-- NAVIGATION -->
    <nav id="navigation" class="navbar navbar-expand-lg navbar-light bg-light">
      <!-- container -->
      <div class="container">
  
        <!-- Toggler/collapsible Button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#responsive-nav" aria-controls="responsive-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <!-- responsive-nav -->
        <div id="responsive-nav" class="collapse navbar-collapse">
          <!-- NAV -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#" [routerLink]="['/']">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" [routerLink]="['/store']">Store</a>
            </li>
            <li class="nav-item" *ngFor="let c of categories">
              <a class="nav-link" href="#">{{c}}</a>
            </li>
          </ul>
          <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
      </div>
      <!-- /container -->
    </nav>
    <!-- /NAVIGATION -->
  
  <router-outlet></router-outlet>
  
    <!-- Start Footer Area -->
  <app-footer></app-footer>
    <!--/ End Footer Area -->
  
    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top">
        <i class="lni lni-chevron-up"></i>
    </a>