<div class="container">
  <h2>Products List</h2>

  <table class="product-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Category</th>
        <th>Stock</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.name }}</td>
        <td>{{ product.price | currency }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.category }}</td>
        <td>{{ product.stock }}</td>
        <td class="actions">
          <button class="update-btn" (click)="updateProduct(product)">
            <i class="fas fa-edit"></i> Update
          </button>
          <button class="delete-btn" (click)="deleteProduct(product._id)">
            <i class="fas fa-trash-alt"></i> Delete
          </button>
      </td>
      </tr>
    </tbody>
  </table>
</div>
