<div class="container">
  <h2>Liste des Produits</h2>

  <table class="product-table">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prix</th>
        <th>marque</th>
        <th>Categorie</th>
        <th>Stock</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.name }}</td>
        <td>{{ product.price | currency }}</td>
        <td>{{ product.marque }}</td>
        <td>{{ product.category }}</td>
        <td>{{ product.stock }}</td>
        <td class="actions">
          <button class="update-btn" (click)="updateProduct(product)">
            <i class="fas fa-edit"></i> Update
          </button>
          <button class="delete-btn" (click)="deleteProduct(product._id)">
            <i class="fas fa-trash-alt"></i> Delete
          </button>
      </td>
      </tr>
    </tbody>
  </table>
</div>
